@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,300;1,700&display=swap');

:root{
    --color-primary: #7380ec;
    --color-danger: #f8639c;
    --color-success: #3ee78a;
    --color-warning: #dcdf29;
    --color-white: #ffffff;
    --color-info-dark: #424244;
    --color-info-light: #bfc1d6;
    --color-dark: #353636;
    --color-light:rgba(132, 139, 200, 0.18);
    --color-primaryvar: #1325c2;
    --color-darkvar: #5a5a5a;
    --color-background: #ffffff;

    --card-bradius: 2rem;
    --borderrad1:0.4rem;
    --borderrad2:0.8rem;
    --borderrad3:1.2rem;

   --card-padding:1.8rem;
   --pading-1: 1.2rem;
   --box-shadow: 0 2rem 3rem var(colour-light);
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width:100vw;
    height:100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.88rem;
    background:var(--color-background);
    user-select:none;
    overflow-x:hidden;
    
}

.container{
    display:grid;
    width:96%;
    margin: 0 auto;
    background:rgb(238, 236, 236);
    gap:10.8rem;
    grid-template-columns: 14rem auto 23rem;

}
a{
    color: var(--color-dark);
}

img{
    display: block;
    width:100%;

}

h1{
    font-weight: 800;
    font-size: 1.9rem;
    
}

h2{
    font-size: 1.4rem;
    
}
h3{
    font-size: 0.9rem;
    
}
h4{
    font-size: 0.8rem;
    
}

h5{
    font-size: 0.77rem;
    
}

small{
    font-size: 0.75rem;
    
}


.profile-pic{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color:var(--color-info-dark);
}


p{
    color:var(--color-darkvar);
}

b{
    color:var(--color-dark)
}

.primary{
    color:var(--color-primary)
}

.danger{
    color:var(--color-danger)
}
.success{
    color:var(--color-success)
}
.primary{
    color:var(--color-primary)
}
.warning{
    color:var(--color-warning)
}
.profile-pic{
    width:2.8rem;
    height:2.8rem;
    border-radius: 50%;
    overflow:hidden;
}

aside{
    height: 100vh;
    


}

aside .top{
    background:rgb(228, 228, 228);
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top:1.4rem;
}

aside .logo img{
    width:2rem;
    height: 2rem;

}

aside .logo {
    display: flex;
    gap: 1rem;
}

aside .close{
    display:none;

}

aside .side{
    background:rgb(228, 228, 228);
    display:flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top:3rem;


}

aside h3{
    font-weight: 500;

}


/* CSS FOR SIDE + BASIC ANIMATIONS*/

aside .sidebar{
    background: rgb(228, 228, 228);
    display:flex;
    flex-direction: column;
    height: 86vh;
    position:relative;
    top:3rem;
}

aside .sidebar a{
    display:flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap:1rem;
    align-items: center;
    position:relative;
    height:3.7rem;
    transition: all 300ms ease;
    
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
    

}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width:100%;
}

aside .sidebar a.active{
    background:var(--color-light);
    color: var(--color-primary);
    margin-left:0;

}

aside .sidebar a.active:before{
    content: "";
    width:6px;
    height: 100px;
    background: var(--color-primary);    
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem-3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);


}

aside .sidebar a:hover span{
    margin-left: 1rem;

}

.bar {
    fill: red; /* changes the background */
    height: 21px;
    transition: fill .3s ease;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
  }
  .bar text {
    color: black;
  }
  .bar:hover,
  .bar:focus {
    fill: black;
  }
  .bar:hover text,
  .bar:focus text {
    fill: red;
  }





/*MAIN DASHBOARD CSS*/


main{
    margin-top: 1.4rem;
}



main .input

main .date {
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--borderrad1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .insights{
    display: flex;
    grid-template-columns: repeat(3,1fr);
    gap: 1.7rem;
    width: 100px;
    height: auto;
    margin: 150px;
}

main .insights > div{
    background: rgb(248, 231, 248);
    padding: 1.5rem;
    border-radius: var(--card-bradius);
    margin-top: 0.5rem;
    box-shadow: 6px 8px #d3d1d1;
    transition: all 300ms ease;

}

main .insights > div:hover{
    box-shadow: none;
}


main .insights > div span {
    background: #b9b0b8;
}

main .insights > div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights progress {
    position:relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insights svg{
    background-color: #fcecf1;
    width: 10rem;
    height: 10rem;
}